* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug #app_header {
    height: 5rem;
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}


.bars {
    border: 1px dashed black;
    width: 20%;
    padding: 1rem;
    margin: 0rem;
    background-color: orange;

}

.bars2 {
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 40%;
    background-color: orange;
}

.bars3 {
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 20%;
    background-color: orange;
}