* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug #app_header {
    height: 5rem;
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;

}


.bars {
    border: 1px dashed black;
    width: 20%;
    padding: 1rem;
    margin: 0rem;
    background-color: orange;

}

.bars2 {
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 40%;
    background-color: orange;
}

.bars3 {
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 20%;
    background-color: orange;
}


.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 15rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: blue;
}

.squareblock {
    padding: 1rem;
    margin: 1rem;
    border: 1px dashed black;
    background-color: pink;
    width: 500px;
    text-align: center;

}

.block2 {
    display: flex;
    justify-content: center;


}


.squareblock2 {
    width: 500px;
    background-color: blue;
    height: 20rem;
    margin: 1rem 0;
    border: 1px dashed black;

}

.squareblock3 {
    background-color: pink;
    width: 300px;
    height: 20rem;
    margin: 1rem 0;
    border: 1px dashed black;

}

.block3 {
    display: flex;
    justify-content: center;
    background-color: lightgray;

}

.sec3 {
    background-color: pink;
    width: 300px;
    height: 20rem;
    margin: 1rem 0;
    border: 1px dashed black;


}

.sec4 {
    width: 500px;
    background-color: blue;
    height: 20rem;
    margin: 1rem 0;
    border: 1px dashed black;


}

.block2 {
    display: flex;
    justify-content: center;

}


.squareblock2 {
    width: 500px;
    background-color: blue;
    height: 20rem;
    margin: 1rem 0;
    border: 1px dashed black;

}

.squareblock3 {
    background-color: pink;
    width: 300px;
    height: 20rem;
    margin: 1rem 0;
    border: 1px dashed black;

}

.container {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.bigsquare {
    margin: 1rem;
    border: 1px dashed black;
    background-color: green;
    text-align: center;
    width: 800px;
    height: 500px;
}

#app_footer {
    justify-content: center;
    background-color: darkslategray;

}

.columnblock {
    display: flex;
    justify-content: center;
}

.item1 {
    background-color: pink;
    width: 200px;
    margin: 1rem 0;
    border: 1px dashed black;
    height: 300px;
}

.item {
    background-color:cadetblue;
    width: 150px;
    margin: 1rem 0;
    border: 1px dashed black;
    height: 300px;
}

.lastbar {
   display: flex;
    justify-content: center;
    
}

.writebar {
    width: 800px;
    padding: 1rem;
    margin: 1rem;
    background-color:cadetblue;
    height: 50px;
    display: flex;
    justify-content: space-between;
   
    
}
.button1{ 
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 20px;
    background-color: palevioletred;

}
.button2{
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 20px;
    background-color: palevioletred;

}